body {
    background-color: coral;
}
.container {
    width: 360px;
    margin: 100px auto;
    padding: 56px 20px 91px 20px;
    border-radius: 20px;
    background-color: #fff;
}
button {
    background-color: #fff;
    border: none;
}
button img {
    width: 30px;
    height: 30px;
}
.custom-input {
    border-radius: 12px;
    background-color: #EFEFEF;
    padding: 13px;
    width: 100%;
    box-sizing: border-box;
    border: none;
}
.menu-position{
    display: inline-block;
    margin: 20px 8px 0 8px;
    text-align: center;
}
h3 {
    margin-top: 0;
}
.img-position {
    width: 74px;
    height: 74px;
    background-color: #EFEFEF;
    text-align: center;
    line-height: 74px;
    border-radius: 14px;
    opacity: 0.6;
}
.img-position img {
    vertical-align: middle;
}
.menu-position .position-title {
    color: #C4C4C4;
}
.menu-position:hover .img-position {
    background-color: #EAE2B7;
    opacity: 1;
}
.menu-position:hover .position-title{
    color: #000000;
}
.items {
    width: 100%;
    height: 80px;
    padding: 12px;
    margin-top: 14px;
    border-radius: 10px;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    box-shadow: 0 0 4px 0 #E5E5E5;
}

.items img {
    width: 60px;
    height: 55px;
    object-fit: contain;
    vertical-align: middle;
}

.text {
    display: inline-block;
    vertical-align: middle;
    width: 170px;
}

.text p {
    margin: 5px;
}

.item-name {
    font-size: 16px;
}

.item-cost {
    font-size: 14px;
    color: red;
}
