* {
    box-sizing: border-box;
}
body {
    background-color: #F2F2F2;
    font-family: "Inter", sans-serif;
}
.main {
    width: 1243px;
    margin: 0 auto;
    padding: 142px 0 128px;
}
h1>span {
    font-weight: 600;
    color: #2D3640;
    letter-spacing: -0.5px;
}
h1 {
    color: #2D3640;
    font-size: 48px;
    font-weight: 400;
    font-style: normal;
    line-height: 80px;
    letter-spacing: -0.5px;
}

.description {
    width: 695px;
    font-size: 20px;
    line-height: 40px;
    color: #2B292D;
    font-weight: 400;
    margin-bottom: 50px;
}
.card {
    width: 295px;
    display: inline-block;
    vertical-align: top;
    margin: 0 10px 0 0;
    background-color: #ffffff;
    border-radius: 12px;
    padding: 58px 0 122px;
    box-sizing: border-box;
    text-align: center;
}
.card h4 {
    color: #2D3640;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.625px;
    margin: 34px 0 4px;
}
.card p {
    color: #4B4F52;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    line-height: normal;
    margin-bottom: 33px;
}
